html, body {
    margin: 0;
    padding: 0;
    overflow: auto; 
    height: 100%;
    width: 100%;
}

.long-container{
    width: 100vw;
    height: 600vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bottom-container {
    width: 100vw;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;  
    align-items: center;     
    gap: 6vh;                
    background-image: url("scrollimage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5vh 0;          
}


.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("concentriccircles.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.left-panel-frame {
    width: 30vw;  
    height: 100vh;  
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
}

.left-panel-color {
    width: 30vw;  
    height: 100vh;  
    left: 0;
    top: 0;
    position: absolute;
    background: #65082F;
}

.text-frame {
    width: 27vw;  
    height: 52vh;     
    left: 3vw;        
    top: 37vh;        
    position: absolute;
    opacity: 0;
}

.text-container {
    width: 24vw;
    height: 52vh;
    left: -2.6vw;  
    top: -1.3vh;   
    position: absolute;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
}

.description {
    width: 21.0vw; 
    height: 32.5vh;
    left: 2.7vw;   
    top: 20.4vh;   
    position: absolute;
    color: white;
    font-size: 2.8vh; 
    font-family: K2D;
    font-weight: 400;
    word-wrap: break-word;
}

.title {
    width: 21.9vw;      
    height: 48.5vh;  
    left: 2.6vw;      
    top: 1.3vh;        
    position: absolute;
    color: white;
    font-size: 7.4vh;   
    font-family: Kablammo;
    font-weight: 400;
    word-wrap: break-word;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content-box {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  gap: 2vw; 
}

.content-box > .mirror-title, 
.content-box > .caption {
  color: white;
  font-family: K2D, Kablammo;
}

.picture-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw;
  width: 60vw;
  height: 63vh;
  background: rgba(58, 0, 24, 0.08);
  overflow: hidden;
  margin-bottom: 4vh auto;
}

.mirror-title {
  color: white;
  font-size: 5vw;
  font-family: Kablammo;
  font-weight: 400;
  word-wrap: break-word;
  position: static;
}

.caption {
  color: white;
  font-size: 1.8vw;
  font-family: K2D;
  font-weight: 400;
  word-wrap: break-word;
  position: static;
}
